@import "fonts";
@import "animations";
@import "root";

//TODO: add ripple to mobile nav menu

body, div, span {
    transition: background .2s ease;
}

a, button, h1, h2, h3, h4, h5, p, article, input, span, li, ul, img, svg {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--text-color-1);
    transition: .2s ease;
    &::selection {
        background: var(--selection-color);
        color: var(--text-color-6);
    }
}
h1, h2, h3, h4, h5 {
    text-wrap: balance;
}
a, button {
    outline: #00000000 solid;
    &:focus-visible {
        outline: var(--bg-color-3) solid;
    }
}

button, .burger-menu_link, .news-history_link, .rasp a, .footer-content-social_link, .liceum1-info-link, .ege_link, .oge_link {
    position: relative;
    overflow: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
img:not([src]):not([srcset]) {
    visibility: hidden;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin: 0;
    background-color: var(--bg-color-1);
    &.gradient {
        background: var(--gradient-2);
    }
    &.white {
        background: var(--bg-color-2);
    }
    &.unsupported-gradient {
        background: linear-gradient(90deg, rgba(211,255,240,1) 0%, rgba(247,247,247,1) 66%, rgba(237,255,213,1) 100%);
    }
}
main>div,
main>section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}

.disactive {
    display: none !important;
}
.header {
    position: fixed;
    width: 100%;
    background: var(--bg-color-2);
    box-shadow: 0px 0px 15px #00000015;
    z-index: 10;
    transition: .2s ease;
} 
.header-content { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1440px;
    padding: 15px 15px;
    margin: 0 auto;
    transition: .2s ease;
    box-sizing: border-box;
 }
 .header-content_organization {
    display: flex;
    gap: 15px;
    align-items: center;
    width: fit-content;
    max-width: 600px;
    transition: .2s ease;
    &>div {
        display: flex;
        flex-direction: column;
        transition: .2s ease;
    }
    a {
        font-weight: 700;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 25px;
        text-decoration: none;
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            opacity: .7;
        }
    }
}
.header-content_page-status {
    width: fit-content;
    padding: 0;
    border: none;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    background: none;
    transition: .2s ease;
    &:hover,
    &:focus-visible {
        cursor: pointer;
        opacity: .65;
    }
}
.header-content_logo { 
    display: flex;
    flex: 0 0 auto;
    height: 85px;
    width: 60px;
    background-image: url("@img/logo/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: .2s ease;
}
.header-content_info {
    display: flex;
    justify-content: right;
    gap: 20px;
    width: fit-content;
}
.header-content_main-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    &.remove {
        animation: remove-block .2s ease forwards;
    }
}
.header-content_link {
    position: relative;
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    height: min-content;
    &::after {
        position: absolute;
        top: 100%;
        left: 30%;
        content: "";
        width: 40%;
        height: 2px;
        border-radius: 0px;;
        background: var(--bg-color-3);
        color: var(--text-color-4);
        opacity: 0;
        transition: .2s ease;
    }
    &:hover::after,
    &:focus::after {
        opacity: 1;
        left: 0%;
        width: 100%;
    }
}
.header-content_buttons {
    display: flex;
    gap: 10px;
    button {
        width: 40px;
        height: 40px;
        border: 1px transparent;
        border-radius: 50%;
        background: none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: .2s ease;
        z-index: 10;
        &.search {
            background-image: var(--search-icon-path);
            background-size: 24px 24px;
            background-position: 7px 9px;
            z-index: 51;
            &.search-active {
                position: relative;
                top: 3px;
                left: 2px;
                width: 34px;
                height: 34px;
                background-size: 21px 21px;
                background-position: center;
            }
        }
        &:hover,
        &:focus-visible {
            cursor: pointer;
            background-color: var(--bg-color-4);
        }
    }
}
.burger {
    position: relative;
    z-index: 101;
    & span {
        position: absolute;
        width: calc(100% - 24px);
        left: 16px;
        height: 3px;
        border-radius: 5px;
        background: var(--text-color-1);
        transition: .2s ease;
        pointer-events: none;
        &::before,
        &::after {
            position: absolute;
            content: "";
            height: 3px;
            border-radius: 5px;
            background: var(--text-color-1);
            transition: .2s ease;
        }
        &::before {
            width: calc(100% + 5px);
            top: -8px;
            left: -5px;
        }
        &::after {
            width: calc(100% + 7px);
            left: -7px;
            top: 8px;
        }
    }
    &.active span {
        background: rgba(0, 0, 0, 0);
        transform: translateX(-10px);
        &::before,
        &::after {
            transform: translateX(10px);
            width: calc(100% + 12px);
            left: 0px;
            top: -1px;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
.button-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: min-content;
    padding: 6px 10px;
    border-radius: 8px;
    box-shadow: 0px 3px 15px #35353528;
    background: var(--bg-color-2);
    animation: add-popup .2s ease forwards;
    box-sizing: border-box;
    text-align: center;
    z-index: 100;
    & span {
        font-weight: 600;
        font-size: 16px;
        &.triangle {
            position: absolute;
            top: 0;
            left: 0;
            width: 0; 
            height: 0; 
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid var(--bg-color-2);
        }
    }
    &.remove {
        animation: remove-popup .1s ease forwards;
    }
    &.right {
        white-space: nowrap;
    }
}
.header.scrolled {
    .header-content_logo {
        width: 30px;
        height: 40px;
    }
    .header-content_organization-info a {
        font-size: 21px;
        font-weight: 700;
    }
    .header-content_page-status {
        font-size: 0 !important;
        opacity: 0;
    }
    .header-content_organization {
        gap: 15px
    }
    .header-content_organization-info {
        gap: 0px;
    }
    background: var(--bg-color-15);
    backdrop-filter: blur(15px);
}
.header-search {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: var(--bg-color-14);
    backdrop-filter: blur(25px);
    box-sizing: border-box;
    z-index: 50;
    &.active {
        animation: add-block .2s ease forwards;
    }
    &.remove {
        animation: remove-block .2s ease forwards;
    }
}
.header-search_search-conteiner {
    position: relative;
    display: flex;
    gap: 18px;
    max-height: 50px;
    max-width: 800px;
    height: 100%;
    width: 100%; 
    margin: clamp(10px, 3vw, 30px) 0 0 0;
    box-sizing: border-box;
    transition: .2s ease;
    z-index: 51;
    button {
        flex: 0 0 auto;
        width: 50px;
        height: 50px;
        box-shadow: 0px 0px 15px #0000001a;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 22px 22px;
        background-color: var(--bg-color-2);
        border-radius: 50%;
        border: none;
        transition: .2s ease;
        &.header-search_close-button {
            background-image: var(--close-icon-path);
        }
        &.search-block_search-button {
            position: absolute;
            background-image: var(--search-icon-path);
            visibility: hidden;
            transform: translateX(-100%);
            opacity: 0;
        }
        &:hover,
        &:focus-visible {
            cursor: pointer;
            box-shadow: 0px 0px 15px #00000032;
        }
    }
    &:has(.search-block.active) {
        .search-block_search-button {
            visibility: visible;
            transform: translateX(0);
            opacity: 1;
        }
    }
}
.search-block {
    display: flex;
    align-items: center;
    flex: 0.0001 1 100%;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding: 6px 10px;
    border-radius: 17px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px #0000001a;
    background: var(--bg-color-2);
    box-sizing: border-box;
    transition: .2s ease;
    &>button {
        width: 37px;
        height: 37px;
        border-radius: 100%;
        outline: none;
        border: none;
        background-size: 20px 20px;
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            cursor: pointer;
        }
        &.search-block_clear-button {
            box-shadow: none;
            background-size: 17px 17px;
            background-image: var(--close-icon-path);
            opacity: 0;
            visibility: hidden;
            &:hover,
            &:focus-visible {
                background-color: #00000021;
            }
        }
    }
    &>input {
        width: 100%;
        outline: none;
        border: none;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        background: none;
        transition: .2s ease;
    }
    &.active {
        box-shadow: 0px 0px 10px #00000019;
        margin-left: 68px;
        .search-block_clear-button {
            opacity: .7;
            visibility: visible;
        }
    }
}
.burger-menu {
    position: absolute;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
    height: 100%;
    padding: 15px;
    background: var(--bg-color-2);
    h2 {
        margin: 0 0 0 10px;
        font-size: 28px;
    }
    &.scrolled {
        background: var(--bg-color-15);
        backdrop-filter: blur(15px);
    }
    &::-webkit-scrollbar {
        width: 10px;
        background: none;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color-1);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--scrollbar-thumb-color-1);
        &:hover {
            background: var(--scrollbar-thumb-color-2);
        }
    }
    border-top: 2px solid var(--border-color-1);
    border-right: 3px solid #ffffff00;
    box-shadow: 0px 12px 8px 8px #0000000e;
    overflow-y: visible;
    overflow-x: hidden;
    transition: .2s ease;
    opacity: .5;
    box-sizing: border-box;
}
.menu-conteiner {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    z-index: 2;
    transition: transform .2s ease;
    &>span {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: add-block-animation .2s ease;
        transition: .2s ease;
    }
    &.active>span {
        background: var(--bg-color-7);
    }
    &::after {
        position: absolute;
        top: 0;
        left: calc(100% - 300px);
        content: "";
        width: 300px;
        height: 2px;
        background: #00000018;
        opacity: .5;
        transform: translateX(100%);
        transition: .2s ease;
    }
    &.active::after {
        opacity: 1;
        transform: translateX(0%);
    }
    &.active>.burger-menu {
        transform: translateX(-100%);
        opacity: 1;
    }
}
.burger-menu_links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    &>li {
        width: 100%;
        margin: none;
        list-style: none;
        &.mobile-visible {
            display: none;
        }
        a, label {
            display: block;
            padding: 7px 10px;
            font-size: 19px;
            font-weight: 600;
            border-radius: 10px;
            text-decoration: none;
            transition: .2s ease;
            &:hover,
            &:focus-visible {
                cursor: pointer;
                background: var(--bg-color-7);
            }
            &:active {
                transform: scale(.97);
            }
        }
        label {
            position: relative;
            user-select: none;
            &:after {
                position: absolute;
                left: calc(100% - 28px);
                top: 11px;
                content: "";
                width: 17px;
                height: 17px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: var(--right-arrow-icon-path);
                transition: .2s ease;
            }
        }
        input {
            display: none;
        }
        input:checked ~ label {
            box-shadow: 0px 2px 8px #00000023;
            &::after {
                transform: rotate(90deg);
            }
            &:hover,
            &:focus-visible {
                box-shadow: 0px 2px 14px #0000002b;
                background: var(--bg-color-2);
            }
        }
        input:checked ~ .burger-menu_select-links {
            visibility: visible;
            transform: translateY(0);
            opacity: 1;
        }
    }
}
.bruger-menu_select-conteiner {
    position: relative;
}

.burger-menu_select-links {
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px #00000023;
    background: var(--bg-color-2);
    transition: .2s ease;
    box-sizing: border-box;
    visibility: hidden;
    transform: translateY(15px);
    opacity: 0;
}
.dark-theme {
    .burger-menu_select-links {
        background: var(--bg-color-7);
        backdrop-filter: blur(100px);
    }
    input:checked ~ label {
        background: var(--bg-color-7);
        backdrop-filter: blur(20px);
        &:hover,
        &:focus-visible {
            background: var(--bg-color-7) !important;
        }
    }
}
    
main {
    padding: 115PX 0 0 0;
    color: var(--bg-color-1);
    min-height: 100vh;
    min-height: 100dvh;
    box-sizing: border-box;
}
.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--bg-color-2);
    box-shadow: 0 0 15px #00000014;
    transition: .2s ease;
}
.footer-content_conteiner {
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 2fr;
    gap: 50px;
    max-width: 1440px;
    margin: 0 auto;

}
.footer-content_about-block {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}
.footer-content_description {
    h2 {
        margin: 0;
        font-size: 20px;
    }
    span {
        font-weight: 600;
    }
}
.footer-content-social {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        font-weight: 600;
    }
    ul {
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 35px);
        gap: 15px;
        min-height: 35px;
        li {
            width: 35px;
            height: 35px;
            list-style: none;
            overflow: visible;
        }
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            border-radius: 10px;
            box-shadow: 0px 3px 7px #00000025;
            background: var(--bg-color-27);
            svg {
                width: calc(100% - 10px);
                height: calc(100% - 10px);
                fill: var(--text-color-1);
            }
            transition: .2s ease;
            &:hover,
            &:focus-visible {
                transform: translateY(-3px);
                box-shadow: 0px 3px 12px #00000023;
            }
        }
    }
}
.footer-content_links-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    h3 {
        margin: 0;
        padding: 0;
        font-size: 22px;
    }
    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 7px;
        column-gap: 16px;
        a {
            text-decoration: none;
            font-size: 18px;
            &:hover,
            &:focus-visible {
                color: var(--text-color-4);
                text-decoration: underline;
            }
        }
    }
}
.footer-second-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: var(--bg-color-17);
    }
    p {
        font-size: 17px;
    }
}
.footer-second-content_links {
    display: flex;
    gap: 20px;
    a {
        text-decoration: none;
        font-size: 17px;
        &:hover,
        &:focus-visible {
            color: var(--bg-color-13);
            text-decoration: underline;
        }
    }
}
.fixed-buttons {
    position: fixed;
    left: 30px;
    bottom: -150px;
    height: 150px;
    width: calc(100% - 60px);
    z-index: 1;
    overflow: visible;
    button {
        position: absolute;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 20px;
        background: var(--bg-color-21);
        background-position: center;
        background-size: 40px 40px;
        background-repeat: no-repeat;
        box-shadow: 0px 3px 10px #0000001a;
        transition: .2s ease;
        backdrop-filter: blur(10px);
        &:hover,
        &:focus-visible {
            cursor: pointer;
            box-shadow: 0px 3px 14px #0000002a;
        }
        &.removed {
            transform: translateY(20px);
            opacity: 0;
            visibility: hidden;
        }
        &.scroll-top {
            top: -150px;
            left: 0;
            background-image: var(--arrow-top-icon-path);
        }
        &.visually-impaired-version {
            top: -80px;
            left: 0;
            background-image: var(--eye-icon-path);
            background-size: 31px 31px;
        }
        &.veiw-doc-button {
            top: -80px;
            font-size: 28px;
            left: calc(100% - 50px);
            background-size: 20px 20px;
        }
    }
}

.swiper-wrapper.mainSwiper_wrapper {
    height: 100%;
    position: relative;
    div {
        aspect-ratio: 21 / 9;
        background-color: var(--bg-color-25);
        border-radius: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("@img/page/mainSwiper/pexels-maxime-francis-2246476.jpg");
    }
}
.mainSwiper_arrow {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
    &.right {
        left: calc(100% - 45px);
        transform: translateX(-7px);
        &.swiper-button-disabled {
            transform: translateX(-7px) !important;
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
    &.left {
        left: 15px;
        transform: translateX(7px);
        &.swiper-button-disabled {
            transform: translateX(7px) !important;
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }
    &::after {
        position: absolute;
        left: 0;
        content: "";
        width: 30px;
        height: 30px;
        border-radius: 10px;
        background: var(--bg-color-19);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.344);
        backdrop-filter: blur(10px);
        transition: .2s ease;
    }
    &.left::after {
        background-position: 5px center;
        background-image: var(--left-arrow-icon-path);
    }
    &.right::after {
        background-position: 7px center;
        background-image: var(--right-arrow-icon-path);
    }
    &:hover {
        cursor: pointer;
        &::after {
            background-color: var(--bg-color-2);
        }
    }
    &.left:hover {
        transform: translateX(-3px);
    }
    &.right:hover {
        transform: translateX(3px);
    }
}
.mainSwiper_pagination {
    display: flex;
    position: absolute;
    height: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background: var(--bg-color-19);
    transition: .2s ease;
    opacity: 0;
    .swiper-pagination-bullet {
        position: relative;
        top: 2px;
        display: block;
        flex: 0 0 auto;
        width: 15px;
        height: 15px;
        background: var(--bg-color-13);
    }
    .swiper-pagination-bullet-active-main {
        background: var(--text-color-1);
    }
    &.first {
        width: 70px !important;
        .swiper-pagination-bullet {
            left: 0 !important;
        }
    }
    &.second {
        width: 90px !important;
        .swiper-pagination-bullet {
            left: 0 !important;
        }
    }
    &.pre-last {
        width: 90px !important;
    }
    &.last {
        width: 70px !important;
    }
    &.second.pre-last {
        width: 70px !important;
        .swiper-pagination-bullet {
            left: 0 !important;
        }
    }
    &.length-4.pre-last .swiper-pagination-bullet{
        left: 0 !important;
    }
    &.length-4.last .swiper-pagination-bullet{
        left: -22px !important;
    }
    &.length-3.second {
        width: 70px !important;
    }
    &.length-3.last .swiper-pagination-bullet {
        left: 0 !important;
    }
    &.length-2 {
        width: 47px !important;
    }
    &.length-1 {
        display: none;
    }
}
.swiper-cont {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    &>div {
        position: relative;
        height: 100%;
        border-radius: 15px;
        &:hover {
            .mainSwiper_arrow {
                opacity: 1;
                visibility: visible;
                transform: translateX(0px);
            }
            .mainSwiper_pagination {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.description-content {
    display: grid;
    grid-template-columns: 2fr 465px;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
}
section {
    box-sizing: border-box;
    h1 {
        font-size: 23px;
    }
}
.news, .notices {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 15px 15px 15px;
}
.about {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.director, .founding-date, .appeals {
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px #00000015;
    box-sizing: border-box;
    background: var(--bg-color-2);
}
.director {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    height: 100%;
}
.director_img {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100%;
        border-radius: 50%;
        border: 5px solid #e7e7e71d;
        aspect-ratio: 1 / 1;
        object-position: center 0px;
        object-fit: cover;
        background-color: #d0d0d057;
        overflow: hidden;
    }
}
.director_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.director_label {
    display: flex;
    flex-direction: column;
    font-size: 21px;
    font-weight: 700;
    span {
        font-size: 16px;
        font-weight: 600;
    }
}
.liceum1-info,
.map_block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-height: 140px;
    height: 100%;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px #00000015;
    box-sizing: border-box;
    background: var(--bg-color-2);
}
.liceum1-info_main {
    position: relative;
    margin: 0;
    padding: 0;
    ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    input {
        display: none;
    }
    button {
        position: relative;
        border: none;
        background: #00000000;
        padding: 3px 8px 3px 28px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 600;
        text-align: left;
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            background: var(--bg-color-4);
        }
        &::after {
            position: absolute;
            left: 5px;
            top: calc(50% - 9px);
            content: "";
            width: 18px;
            height: 18px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        &.call::after {
            background-image: var(--call-icon-path);
        }
        &.email::after {
            background-image: var(--email-icon-path);
        }
    }
    h3 {
        font-size: 21px;
        margin: 0 0 5px 0;
    }
    &::after {
        position: absolute;
        top: calc(100% + 5px);
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: var(--bg-color-20);
    }
}
.liceum1-info-link {
    display: block;
    position: relative;
    max-width: max-content;
    font-weight: 600;
    padding: 3px 8px 3px 28px;
    border-radius: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: .2s ease;
    box-sizing: border-box;
    &:hover,
    &:focus-visible {
        cursor: pointer;
        background: var(--bg-color-4);
    }
    &::after {
        position: absolute;
        left: 5px;
        top: calc(50% - 9px);
        content: "";
        width: 18px;
        height: 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &.call::after {
        background-image: var(--call-icon-path);
    }
    &.user::after {
        background-image: var(--user-icon-path);
    }
    &.adenoids::after {
        background-image: var(--adenoids-icon-path);
    }
}
.buffer-notify {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    width: fit-content;
    margin: 15px;
    padding: 8px 12px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;
    background: #000000b5;
    backdrop-filter: blur(10px);
    color: #ffffffde;
    opacity: 0;
    z-index: 5;
    &.active {
        opacity: 1;
        animation: add-block .2s ease forwards;
    }
    &.remove {
        animation: remove-block .2s ease forwards;
    }
    &_icon {
        width: 18px;
        height: 18px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    &_text {
        color: #ffffffdc;
    }
}
.map {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.map_block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.map-yandex {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: var(--bg-color-25);
    border-radius: 12px;
    box-shadow: 0px 0px 3px #00000017;
    overflow: hidden;
}
.map_adress {
    input {
        display: none;
    }
    button {
        position: relative;
        border: none;
        background: #00000000;
        padding: 3px 8px 3px 26px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            background: var(--bg-color-4);
        }
        &::after {
            position: absolute;
            left: 4px;
            top: calc(50% - 9px);
            content: "";
            width: 18px;
            height: 18px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: var(--location-icon-path);
        }
    }
}
.cookies {
    position: fixed;
    left: 0;
    top: 0;
    max-width: 830px;
    padding: 0 15px;
    width: 100%;
    z-index: 4;
    opacity: 0;
    box-sizing: border-box;
    &.active {
        opacity: 1;
        animation: add-block .3s ease;
    }
    &.remove {
        animation: remove-block .3s ease forwards;
    }
}
.cookies_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 20px;
    background: var(--bg-color-15);
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 16px #00000024;
    box-sizing: border-box;
    span {
        position: relative;
        padding: 0 0 0 35px;
        font-size: 18px;
        font-weight: 700;
        &::after {
            position: absolute;
            left: 0;
            top: -1px;
            content: "";
            width: 27px;
            height: 27px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("@img/page/cookies/cookies.png");
        }
    }
}
.cookies_buttons {
    display: flex;
    gap: 10px;
    button {
        border: none;
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
        transition: .2s ease;
        &:active {
            transform: scale(.97);
        }
    }
    .cookies_sup {
        background: #277dff;
        padding: 7px 10px;
        color: #ffffff;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            background: #226fe1;
        }
    }
    .cookies_for {
        background: none;
        padding: 7px 10px;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            background: #00000016;
        }
    }
}
.founding-date {
    display: flex;
    flex-direction: column;
    span {
        font-size: 20px;
        font-weight: 700;
        &.date {
            font-weight: 600;
            font-size: 16px;
        }
    }
} 
.about_first-content-block,
.about_second-content-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.news_block {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-auto-rows: 10px;
    justify-content: center;
}
.news-article {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 15px 10px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px #00000015;
    background: var(--bg-color-2);
    color: var(--text-color-1);
    overflow: hidden;
    box-sizing: border-box;
    &.very-small {
        grid-row-end: span 18;
    }
    &.small {
        grid-row-end: span 26;
    }
    &.med {
        grid-row-end: span 33;
    }
    &.large {
        grid-row-end: span 45;
    }
    &.very-lagre {
        grid-row-end: span 60;
    }
    &.fullscreen {
        position: fixed;
        top: calc(50% - 380px);
        left: calc(50% - 260px);
        max-width: 500px;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        max-height: 700px;
        margin: 30px 20px;
        padding: 20px;
        border-radius: 25px;
        box-shadow: 0 4px 16px #00000036;
        background: var(--bg-color-2);
        z-index: 50;
        box-sizing: border-box;
        animation: add-article-animation .3s ease forwards;
        .news-article_label {
            font-size: 28px;
            &::after {
                display: none;
            }
        }
        .news-article_text {
            font-size: 18px;
            position: relative;
        }
        .news-article_text-conteiner {
            overflow-y: visible;
            overflow-x: hidden;
            &::after {
                display: none;
            }
        }
        .date {
            font-weight: 500;
        }
    }
    &.remove {
        animation: remove-article-animation .3s ease forwards;
    }
}
@media (max-height: 900px) {
    .news-article.fullscreen {
        top: 0;
        height: calc(100vh - 60px);
        height: calc(100dvh - 60px);
    }
}
@media (max-width: 580px) {
    .news-article.fullscreen {
        left: 0;
        top: 0;
        width: calc(100% - 30px);
        height: calc(100% - 30px) !important;
        max-width: none;
        max-height: none;
        margin: 15px;
    }
    .news-article_fullscreen {
        padding: 5px 12px 5px 31px;
        font-size: 16px;
        color: #ffffff;
    }
}
.news-article_label {
    position: relative;
    font-size: 22px;
    &::after {
        position: absolute;
        top: calc(100% + 3px);
        left: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: var(--bg-color-20);
    }
}
.news-article_text-conteiner {
    position: relative;
    height: 100%;
    overflow: hidden;
    &::after {
        position: absolute;
        top: calc(100% - 20px);
        left: 0;
        content: "";
        width: 100%;
        height: 20px;
        background: linear-gradient(0deg, var(--bg-color-2) 0%, var(--bg-color-23) 100%);
    }
}
.news-article_text {
    position: absolute;
    width: 100%;
}
.news-article_buttons-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.news-article_tags {
    display: flex;
    gap: 20px;
    .date {
        padding: 3px 5px;
        border-radius: 8px;
        background: var(--gradient-1);
        box-shadow: 0px 2px 4px #00000027;
        font-size: 16px;
        text-transform: uppercase;
        color: var(--text-color-5);
        font-weight: 400;
    }
}
.news-article_fullscreen {
    position: relative;
    min-height: 30px;
    padding: 5px 0px 5px 30px;
    border: none;
    border-radius: 12px;
    font-size: 0px;
    font-weight: 600;
    background: var(--bg-color-3);
    box-shadow: 0px 3px 12px #0000001c;
    color: #ffffff00;
    transition: .2s ease;
    &::after {
        position: absolute;
        left: 6px;
        top: calc(50% - 9px);
        content: "";
        width: 18px;
        height: 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: var(--expand-icon-path);
    }
    &:hover,
    &:focus-visible {
        cursor: pointer;
        padding: 5px 12px 5px 31px;
        font-size: 16px !important;
        box-shadow: 0px 3px 16px var(--box-shadow-color-1);
        color: #ffffff;
    }
    &.article-remove-button {
        &::after {
            background-image: url("../img/icons/icons.svg#close-icon");
            background-position: -6px -5px;
            background-size: 25px 25px;
        }
    }
}
.page-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    backdrop-filter: blur(25px);
    background: #00000049;
    pointer-events: none;
    transition: opacity .3s ease;
    opacity: 0;
    z-index: 25;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}
@media (max-width: 710px) {
    .news_block {
        grid-auto-rows: auto;
    }
    .news-article_text {
        position: relative;
    }
    .news-article_text-conteiner {
        overflow-y: visible;
        overflow-x: hidden;
        &::after {
            display: none;
        }
    }
    .news-article {
        max-height: 400px;
    }
}
.sortcat {
    font-size: 22px;
    font-family: "Source Sans Pro";
    font-weight: 700;
    color: var(--text-color-1);
    padding: 15px 15px 0 15px;
    a {
        position: relative;
        text-decoration: none;
        transition: .2s ease;
        &::after {
            position: absolute;
            top: 100%;
            left: 30%;
            content: "";
            width: 40%;
            height: 2px;
            border-radius: 0px;;
            background: var(--bg-color-3);
            color: var(--text-color-4);
            opacity: 0;
            transition: .2s ease;
        }
        &:hover::after,
        &:focus::after {
            opacity: 1;
            left: 0%;
            width: 100%;
        }
    }
}
.sitemap_label {
    font-size: 25px;
}
.sitemap_content {
    background: var(--bg-color-2);
    box-shadow: 0 4px 12px #00000015;
    padding: 15px;
    border-radius: 25px;
    margin: 0 0 20px 0;
}
.sitemap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    a {
        display: block;
        position: relative;
        padding: 2px 8px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: 600;
        font-size: 18px;
        transition: .2s ease;
        box-sizing: border-box;
        &:hover,
        &:focus-visible {
            background: var(--bg-color-7);
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .has-ul {
        &::after {
            top: 12px;
        }
    }
    li {
        position: relative;
        &::marker {
            display: none;
        }
        &::after {
            left: -5px;
            top: calc(50% - 2px);
            position: absolute;
            content: "";
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: var(--text-color-1);
            transition: .2s ease;
        }
        &:has(>a:hover),
        &:has(>a:focus) {
            &::after {
                transform: translateX(-7px);
            }
        }
    }
}
.rasp,
.news-history,
.resources {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    border-radius: 25px;
    background: var(--bg-color-24);
    box-shadow: 0px 3px 16px #0000001d;
    transform: translate(-50%, -50%);
}
.rasp_second {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (max-height: 900px) {
    .rasp,
    .news-history,
    .resources {
        top: calc(50% + 60px);
    }
}
@media (max-height: 520px) {
    .rasp,
    .news-history,
    .resources {
        max-width: 700px;
        width: 100%;
    }
    .rasp_content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .rasp_main::after {
        left: calc(100% + 18px);
        top: 40px;
        height: calc(100% - 80px);
        width: 5px;
    }
}
@media (max-width: 530px) or (((max-height: 520px)) and (max-width: 800px)) {
    body {
        background: var(--bg-color-1) !important;
    }
    .rasp,
    .news-history,
    .resources {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100% !important;
        margin: 0 0;
        border-radius: 0px;
        box-shadow: none;
        background: var(--bg-color-1);
        transform: translate(0, 0);
    }
}
@media (max-width: 400px) {
    .news-history_content {
        grid-template-columns: 1fr;
    }
}
.rasp_content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    a {
        display: block;
        box-shadow: 0px 2px 6px #0000001f;
        padding: 5px 12px;
        border-radius: 15px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        background: var(--bg-color-2);
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            transform: translateY(-3px);
            box-shadow: 0px 2px 10px #00000026;
        }
    }
    span {
        position: relative;
        margin: -12px 0 0 0;
        padding: 5px 12px 5px 60px;
        border-radius: 15px;
        font-size: 18px;
        font-weight: 600;
        background: var(--bg-color-2);
        box-shadow: 0px 2px 6px #0000001f;
        &::after {
            position: absolute;
            left: 14px;
            top: 10px;
            content: "";
            width: 35px;
            height: 35px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("../img/icons/icons.svg#alert-icon");
        }
    }
}
.rasp_main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    &::after {
        position: absolute;
        left: calc(50% - 35px);
        top: calc(100% + 11px);
        content: "";
        width: 70px;
        height: 5px;
        border-radius: 10px;
        background: rgba(0,0,0,.1254901961);
    }
}
.news-history {
    width: 500px;
    gap: 15px;
}
.news-history_label,
.resources_label {
    font-size: 28px;
}
.news-history_content,
.resources_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 15px;
}
.news-history_link,
.resources_link {
    display: block;
    box-shadow: 0px 2px 6px #0000001f;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    background: var(--bg-color-2);
    transition: .2s ease;
    &:hover,
    &:focus-visible {
        transform: translateY(-3px);
        box-shadow: 0px 2px 10px #00000026;
    }
}
.resources {
    width: 350px;
    gap: 15px;
}
.resources_content {
    grid-template-columns: repeat(1, 1fr); 
}
.ex-info-cont {
    padding: 50px 15px 15px 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    min-height: 100%;
    section {
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: min-content;
        padding: 15px;
        border-radius: 25px;
        background: var(--bg-color-24);
        box-shadow: 0px 3px 16px #0000001d;
        p {
            font-size: 18px;
            margin: -5px 0 0 0;
        }
        a {
            display: block;
            box-shadow: 0px 2px 6px #0000001f;
            padding: 5px 12px;
            border-radius: 15px;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            background: var(--bg-color-2);
            transition: .2s ease;
            &:hover,
            &:focus-visible {
                transform: translateY(-3px);
                box-shadow: 0px 2px 10px #00000026;
            }
        }
    }
}
@media (max-width: 1240px) {
    .ex-info-cont {
        padding: 15px 15px 15px 15px;
    }
}
@media (max-width: 1070px) {
    .ex-info-cont {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 530px) {
    .ex-info-cont {
        gap: 0px;
        padding: 15px 15px 0 15px;
        section {
            margin: 0 -15px;
            border-radius: 0px;
            box-shadow: none;
        }
    }
    body.gradient {
        background: var(--bg-color-1);
    }
}
.page-article {
    position: relative;
    left: 100px;
    display: grid;
    grid-template-columns: 1fr 260px;
    gap: 30px;
    max-width: 1000px;
    margin: 10px auto 30px auto;
    border-radius: 25px;
    h1 {
        margin: 0 50px 20px 0;
    }
    &.no-navigation {
        left: 0;
        grid-template-columns: 1fr;
        max-width: 700px;
    }
}
@media (max-width: 440px) {
    .page-article h1 {
        font-size: clamp(22px, 8vw, 34px);
    }
}
.article-content {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    max-height: calc(100vh - 200px);
    max-height: calc(100dvh - 200px);
    top: 90px;
    h3 {
        font-size: 19px;
        padding: 0 0 0 18px;
    }
    &.scrolled {
        max-height: calc(100vh - 120px);
        max-height: calc(100dvh - 120px);
    }
}
.article-content_links {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 0;
    box-sizing: border-box;
    span {
        position: absolute;
        top: 1px;
        left: 8px;
        width: 4px;
        border-radius: 4px;
        background: var(--bg-color-9);
        transition: .2s ease;
    }
    a {
        position: relative;
        display: inline-flex;
        align-items: center;
        min-height: 30px;
        padding: 5px 15px 5px 18px;
        border-radius: 10px;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        transition: .2s ease;
        opacity: .68;
        &:hover {
            opacity: 1;
        }
        &:focus-visible {
            text-decoration: underline;
            opacity: 1;
        outline: #00000000 solid;
        }
        &.active {
            opacity: 1;
        }
    }
}
.page-article_label {
    font-size: 40px;
}
.page-article_content {
    h2 {
        position: relative;
        margin: 15px 0 5px 0;
        a {
            text-decoration: none;
            font-size: 23px;
            &::after {
                position: absolute;
                top: calc(100% - 25px);
                content: "#";
                font-size: 19px;
                color: var(--text-color-2);
                opacity: 0;
            }
            &:hover,
            &:focus-visible {
                color: var(--text-color-1);
                text-decoration: underline;
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    h3 {
        margin: 12px 0 0 0;
    }
    a {
        width: fit-content;
        font-size: 17px;
        text-decoration: underline;
        text-decoration-color: var(--text-decoration-color-1);
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            text-decoration-color: var(--text-decoration-color-2);
            color: var(--text-color-3);
        }
    }
    li {
        font-size: 17px;
        margin: 3px 0;
    }
    p {
        margin: 8px 0;
        &.text {
            margin: 18px 0 10px 0;
            font-size: 18px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        background: var(--bg-color-25);
        min-width: none;
        min-height: none;
    }
    ol {
        margin: 7px 0 10px 0;
    }
}
.page-article_img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    margin: 15px 0 0 0;
    &.pic {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}
.page-article_img-button {
    padding: 0;
    margin: 0;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 3px 12px #00000022;
    background: var(--bg-color-25);
    overflow: hidden;
    transition: .2s ease;
    &:hover,
    &:focus-visible {
        cursor: pointer;
        transform: translateY(-3px);
        box-shadow: 0px 3px 18px #0000003c;
    }
    &:has(img.document) {
        aspect-ratio: 1 / 1.41; // 1 / sqrt(2)
    }
}
.page-article_links {
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin: 5px 0;
}
.page-article_marked {
    display: block;
    margin: 9px 0;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 500;
    background: var(--bg-color-12);
}
.article-content_wrapper {
    overflow-x: hidden;
    overflow-y: visible;
    &::-webkit-scrollbar {
        width: 5px;
        background: none;
    }
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color-1);
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--scrollbar-thumb-color-1);
        &:hover {
            background: var(--scrollbar-thumb-color-2);
        }
    }
}
.veiw-doc-button {
    display: none;
}
@media (max-width: 1260px) {
    .page-article {
        left: 0;
        max-width: 100%;
        margin: 10px 50px 30px 50px;
        &.no-navigation {
            max-width: 700px;
            margin: 10px auto 30px auto;
        }
    }
}
@media (max-width: 950px) {
    .page-article {
        margin: 10px 0 30px 0;
        &.no-navigation {
            margin: 10px auto 30px auto;
        }
    }
}
@media (max-width: 900px) {
    .page-article {
        grid-template-columns: 1fr;
        margin: 10px 50px 30px 50px;
    }
    .article-content {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        max-height: 400px !important;
        padding: 12px;
        border-radius: 15px 15px 0 0;
        background: var(--bg-color-2);
        box-shadow: 0px 0px 15px #00000021;
        transition: .2s ease;
        visibility: hidden;
        z-index: 2;
        box-sizing: border-box;
        &.active {
            transform: translateY(-100%);
            visibility: visible;
        }
        h3 {
            padding: 0;
            font-size: 20px;
        }
        a {
            font-size: 18px;
            opacity: 1;
            &.active {
                background: var(--bg-color-8);
            }
        }
    }
    .veiw-doc-button.set {
        display: block;
        &.active {
            background-color: var(--bg-color-2);
        }
    }
}
@media (max-width: 768px) and (max-height: 550px) {
    .article-content {
        max-height: calc(100vh - 150px) !important;
        max-height: calc(100dvh - 150px) !important;
    }
}
@media (max-width: 630px) {
    .page-article {
        margin: 10px 0 30px 0;
        &.no-navigation {
            margin: 10px 0 30px 0;
        }
    }
}
@media (max-width: 445px) {
    .veiw-doc-button {
        top: calc(100% - 65px);  
    }
}
.theme-switch_conteiner {
    position: relative;
    top: 2px;
    left: 0;
    button {
        background-size: 30px 30px;
        &.dark-theme-active {
            background-image: var(--dark-theme-icon-path);
        }
        &.dark-theme-auto {
            background-image: var(--auto-theme-icon-path);
        }
        &.dark-theme-disactive {
            background-image: var(--light-theme-icon-path);
        }
        &:hover ~ .theme-switch,
        &:focus ~ .theme-switch {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
        }
    }
}
.theme-switch {
    position: absolute;
    left: -45px;
    display: flex;
    align-items: center;
    gap: 7px;
    width: fit-content;
    padding: 4px 10px;
    border-radius: 30px;
    box-shadow: 0 3px 10px #0000001a;
    background: var(--bg-color-2);
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: .2s ease;
    &:hover,
    &:has(button:focus) {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    button {
        flex: 0 0 auto;
        width: 33px;
        height: 33px;
        border: none;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px 25px;
        background-color: var(--bg-color-2);
        transition: .2s ease;
        &.light {
            background-image: var(--light-theme-icon-path);
        }
        &.auto {
            background-image: var(--auto-theme-icon-path);
        }
        &.dark {
            background-image: var(--dark-theme-icon-path);
            background-size: 26px 26px;
        }
        &:hover,
        &:focus-visible {
            cursor: pointer;
            background-color: var(--bg-color-7);
        }
        &.active {
            box-shadow: 0px 2px 8px #00000042;
        }
    }
}
.browser-unsupported-info {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 800px;
    width: 100%;
    padding: 20px clamp(15px, 5vw, 50px);
    border-radius: 25px;
    transform: translate(-50%, -50%);
    span {
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("../img/icons/icons.svg#browser-not-supported-light");

    }
    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    h1, p {
        text-align: center;
    }
}
.dark-theme .browser-unsupported-info span {
    background-image: url("../img/icons/icons.svg#browser-not-supported-dark");
} 
.copy {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: fit-content;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    font-size: 17px;
    text-decoration: underline;
    text-decoration-color: var(--text-decoration-color-1);
    text-align: left;
    transition: .2s ease;
    &:hover,
    &:focus-visible {
        cursor: pointer;
        text-decoration-color: var(--text-decoration-color-2);
        color: var(--text-color-3);
        padding: 0 20px 0 0;
        & .copy_icon {
            opacity: 1; 
            transform: translateX(0);
        }
    }
    &_icon {
        position: absolute;
        right: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        opacity: 0;
        transform: translateX(-1rem);
        svg {
            width: 100%;
            height: 100%;
            path {
                fill: var(--text-color-3);
            }
        }
    }
}
.fullscreen-swiper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    padding: 15px;
    backdrop-filter: blur(25px);
    background: var(--bg-color-14);
    transform: translateY(30px);
    transition: .2s ease;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    &.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    button {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        box-shadow: 0px 3px 14px #0000000e;
        background-color: var(--bg-color-2);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 23px 23px;
        transition: .2s ease;
        &:hover,
        &:focus-visible {
            cursor: pointer;
            box-shadow: 0px 3px 14px #00000025;
        }
    }
}
.fullscreen-swiper-navigation {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
    border-radius: 30px;
    background: var(--bg-color-2);
    box-sizing: border-box;
    button {
        width: 40px;
        height: 40px;
        box-shadow: none;
        background-size: 16px 16px;
        background-image: var(--close-icon-path);
        &:hover,
        &:focus-visible {
            box-shadow: none;
            background-color: var(--bg-color-7);
        }
    }
    span {
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: 600;
        background: var(--bg-color-26);
        color: var(--text-color-6);
    }
}
.fullscreen-swiper_container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
    button {
        &.fullscreen-swiper_prev {
            left: -70px;
            background-image: var(--left-arrow-icon-path);
            &:hover,
            &:focus-visible {
                transform: translateX(-3px);
            }
        }
        &.fullscreen-swiper_next {
            left: calc(100% + 20px);
            background-image: var(--right-arrow-icon-path);
            &:hover,
            &:focus-visible {
                transform: translateX(3px);
            }
        }
        z-index: 1;
        &.swiper-button-disabled {
            opacity: .5;
            transform: translateX(0);
            pointer-events: none;
        }
    }
}
.fullscreen-swiper_main {
    position: relative;
    overflow: hidden;
}
.fullscreen-swiper_wrapper {
    position: relative;
    .swiper-slide {
        display: flex;
        justify-content: center;
        height: calc(100vh - 200px);
        height: 100%;
        overflow: hidden;
        img {
            object-fit: contain;
            height: calc(100vh - 150px);
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .fullscreen-swiper_container {
        grid-template-columns: 1fr;
        button {
            display: none;
        }
    }
}
.notices {
    display: flex;
    flex-direction: column;
    gap: 15px;
    &_block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 20px;
    }
}
.notice {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: min-content;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px #00000015;
    background: var(--bg-color-2);
    &_label {
        font-size: 21px;
    }
}
@media (max-width: 425px) {
    .notices_block {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: var(--bg-color-28);
    transform: scale(0);
    pointer-events: none;
    transition: .7s linear;
    &.blur400 {
        animation: ripple400 700ms linear forwards;
    }
    &.blur200 {
        animation: ripple200 700ms linear forwards;
    }
    &.blur100 {
        animation: ripple100 700ms linear forwards;
    }
    &.blur10 {
        animation: ripple 700ms linear forwards;
    }
    &.r-remove {
        opacity: 0;
    }
  }
@import "ui-adaptivity";